.hamburger-menu {
  z-index: 20;
  height: calc(100vh - 49px);
  background-color: #273441;
  position: fixed;
  top: 54px;
  width: 60px;
  transition: width 0.5s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.hamburger-menu a {
  text-decoration: none;
}
div.hamburger-menu.home {
  overflow: hidden;
  white-space: nowrap;
  padding: 0px;
}
.hamburger-menu.hamburger-open {
  width: 250px;
}
.hamburger-menu.home.hamburger-open {
  width: 250px;
  padding: 0;
}
