.text-input {
  margin-bottom: 23px;
}
.text-input:last-child {
  margin-bottom: 0;
}
.text-input>div {
  margin-bottom: 10px;
}
.text-input__label-text {
  font-family: Tele-Grotesk-Fett;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
}
.text-input__label-required {
  color: #e20074;
}
input.text-input__input {
  background-color: #ffffff;
  border: solid 1px #e2e2e2;
}
input.text-input__input::-webkit-input-placeholder {
  font-family: TitilliumWeb;
  font-size: 14px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #9b9b9b;
  text-transform: capitalize;
}
textarea.text-input__input {
  background-color: #ffffff;
  border: solid 1px #e2e2e2;
  resize: none;
}
textarea.text-input__input::-webkit-input-placeholder {
  font-family: TitilliumWeb;
  font-size: 14px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #9b9b9b;
  text-transform: capitalize;
}
