
@font-face {
  font-family: 'Tele-Grotesk-Fett';
  src: url('Tele-Grotesk-Fett.eot?#iefix') format('embedded-opentype'),  url('Tele-Grotesk-Fett.woff') format('woff'), url('Tele-Grotesk-Fett.ttf')  format('truetype'), url('Tele-Grotesk-Fett.svg#Tele-Grotesk-Fett') format('svg');
  font-weight: normal;
  font-style: normal;
}
