
@font-face {
  font-family: 'Tele-Grotesk-Ultr';
  src: url('Tele-Grotesk-Ultr.eot?#iefix') format('embedded-opentype'),  url('Tele-Grotesk-Ultr.woff') format('woff'), url('Tele-Grotesk-Ultr.ttf')  format('truetype'), url('Tele-Grotesk-Ultr.svg#Tele-Grotesk-Ultr') format('svg');
  font-weight: normal;
  font-style: normal;
}
